<div class="container-fluid h-100">
	<div class="row hv-100">
		<div class="col-3 left-column p-3 d-none d-lg-block d-md-block d-print-none">

		</div>
		<div class="col right-column">
			@if (title && title.length > 0)
			{
			<h1 class="pb-4 pt-4 ps-3 title fade-in">{{title}}</h1>
			}

			<div class="d-flex flex-column vh-100">
				<div class="flex-grow-1 p-3">
					<markdown [data]="messages"></markdown>
				</div>
				<div class="position-relative textarea-wrapper p-3">
					@if (!loading)
					{
					<div class="down-arrow-position d-print-none" [ngClass]="{'hidden': displayToBottom === false}">
						<button class="btn btn-link" (click)="scrollToBottom()">
							<fa-icon [icon]="iconDown"></fa-icon>
						</button>
					</div>
					}

					@if (stopGeneration)
					{
					<div class="down-arrow-position d-print-none">
						<button class="btn btn-danger" (click)="onCancelGeneration()">
							<fa-icon [icon]="iconStop"></fa-icon>
						</button>
					</div>
					}

					@if (selectedFiles && selectedFiles.length > 0)
					{
					<div class="documents-wrapper">
						@for(file of selectedFiles; track file.name; let i = $index)
						{
						<div>
							{{file.name}}
							<span><fa-icon (click)="onDocumentDelete(i)" [icon]="iconDelete"></fa-icon></span>
						</div>
						}
					</div>
					}

					<textarea #textareaChat class="form-control textarea mb-4 p-3 d-print-none" rows="10" placeholder="Message Azure OpenAI" [(ngModel)]="prompt" (keyup.enter)="onSend()" [attr.disabled]="loading ? true : null" autofocus></textarea>
					<input #fileUpload class="hidden" type="file" multiple accept=".pdf,.docx,.doc,.txt,.md,.markdown" (change)="onDocumentsChange($event)">
					<button class="btn btn-secondary btn-sm mb-5 d-print-none document-button" (click)="onDocumentsClick($event)" [attr.disabled]="loading ? true : null"><fa-icon [icon]="iconDocument"></fa-icon></button>
					<button class="btn btn-secondary btn-sm mb-5 d-print-none send-button" (click)="onSend()" [attr.disabled]="loading ? true : null">Send</button>

					<div class="small d-print-none footer">
						Azure OpenAI can make mistakes. Check important info.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-sm btn-secondary d-print-none toggle-theme" (click)="onToggleTheme()">
	<fa-icon [icon]="iconMoon"></fa-icon>
</button>

<button class="btn btn-sm btn-secondary toggle-theme d-print-none delete-messages" (click)="onDeleteMessages()" [attr.disabled]="loading ? true : null">
	<fa-icon [icon]="iconDelete"></fa-icon>
</button>

<div class="left-column-panel d-print-none">
	&nbsp;
</div>