body {
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(244, 244, 244, 1);
    }
}

.alert {
    border: 0;
    border-radius: 1.5rem;
}

.hidden {
    display: none;
}

.hv-100 {
    height: 100vh !important;
}

@mixin darkMode() {
    body {
        background-color: #212121;
        color: #fff;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #171717;
        }

        &::-webkit-scrollbar-thumb {
            background: #171717;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #6c757d;
        }
    }
}

@media (prefers-color-scheme: dark) {
    @include darkMode();
}

html.dark-mode {
    @include darkMode();
}
